---
layout: layouts/base.njk
title: Calendar
lang: am
permalink: "am/events/index.html"
---

<section class="calendar-section">
  <h2 class="calendar-title">የወሩ መታሰቢያ ቀኖች</h2>

  <div class="calendar-controls">
    <select id="month-selector"></select>
  </div>

  <div id="ethiopian-calendar"></div>
</section>

<div id="feast-summary"></div>

<script src="/assets/js/calendar.js"></script>


